/* Imports */

@font-face {
    font-family: BlackMango;
    src: url(.././assets/Black\ Mango\ Black.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*      */


/* Overall styling */

.App {
    /*background-image: url('.././assets/Background.svg');*/
    /* background-size: cover;
    background-position: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    font-family: 'Helvetica Neue', sans-serif;
    color: #212427;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    margin: 0px;
    padding: 0px;
}

#contact-page {
    background-color: #212427;
    color: #F8F3E9;
    padding: 50px 5vw 20px 5vw;
    height: 86vh;
    width: 100%;
}

.contact-page-title {
    margin: 20px;
    font-size: 4vw;
    display: flex;
    font-weight: 800;
    margin-left: 2vw;
    padding-bottom: 10px;
}

.contact-row {
    width: 100vw;
    margin-left: 7vw;
    height: 55vh;
}

/* #contact-form {
    margin-top: 4vh;
    margin-bottom: 4vh;
} */

.send-message-row {
    font-size: 1rem;
    width: 55vw;
    /* background-color: aqua; to double check */
}

.form-control  {
    border-color:#F8F3E9;
    border-style: solid;
    background-color: #212427;
}

.name-label {
    width: 2vw
}

.email-label {
    width: 2vw;
}

#message-input {
    height: 30vh;
}

.text-start {
    height: 15vh;
}

.send-button {
    display: flex;
    align-items: center; /* Vertically centers the content */
    justify-content: center;
    background-color: #F8F3E9;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 380;
    color:#212427;
    height: 4.5vh;
    width: 5.5vw;
    border: none;
    text-decoration: none;
}

.contact-info-box {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
}



#name-linkedin{
    text-decoration: none;
    color:#F8F3E9;
}

#name-linkedin:visited {
    color:#F8F3E9;
    text-decoration: none;
}

#contact-icon {
    height: 3vh;
    filter: invert(92%) sepia(20%) saturate(289%) hue-rotate(317deg) brightness(106%) contrast(94%);
}