
.footer-row {
    height: 7rem;
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 30px;
}

#footer-logo {
    height: 5vh;
    width: 6vw;
}

#footer-logo:hover {
    border-color: #212427;
    fill-opacity: 0;
}