nav {
    width: 100%;
    padding: 0 20px;
}

#nav-logo {
    font-family: BlackMango;
    color: #212427;
    height: 50px;
}

.nav-item1, .nav-item2, .nav-item3 {
    font-size: 1.2rem;
    font-weight: 400;

}

a:link {
    text-decoration: none;
        color: #212427;

}

a:visited {
    text-decoration: none;
    color: #212427;

}

a:hover {
    text-decoration: none;
    color: #212427;
}

a:active {
    text-decoration: none;
    color: #212427;

}