nav {
width: 100%;
}

.nav-title {
    font-family: BlackMango;
    color: #212427;
    font-size: 3rem;
    font-style: none;
    text-align: center;
    margin-bottom: 15px;
}

.nav-item1, .nav-item2, .nav-item3 {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 700;

}

.nav-item1 {
    text-align: right;
}

.nav-item3 {
    text-align: left;
}

a:link {
    text-decoration: none;
        color: #212427;

}

a:visited {
    text-decoration: none;
    color: #212427;

}

a:hover {
    text-decoration: none;
    color: #212427;
}

a:active {
    text-decoration: none;
    color: #212427;

}