.App {
    background-image: url('.././assets/Background.svg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    font-family: 'Helvetica Neue', sans-serif;
    color: #212427;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    margin: 0px;
    padding: 0px;
  }

#project-info-page {
  height: 100vh;
}

.slides-container {
  padding-top: 5vh;
  margin-left: 7vw;
  height: 73vh;
  margin: 0;
  width: 100%;
}

.project-info-row {
  padding-top: 5vh;
}

.project-title {
  margin-right: 7vw;
}

.project-description {
  margin-right: 7vw;
}

.project-tech {
  margin-right: 7vw;
}